:root {
    --pad: 10 px;
    --bg: rgb(14, 10, 10);
    --bg: rgb(14, 12, 12);
    --fg: aliceblue;
    --acc: orange;
}

body{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 40px 1fr 60px;
    min-height: 100vh;

    margin: 0;
    gap: var(--pad);
    font-family: 'Roboto', sans-serif;
}

.pane {
    background-color: aqua;
}

@media screen and (max-width: 500px) {
    body{
        display: flex;
        flex-direction: column;
    }
}

.side-nav {
    display: flex;
}

#nav {
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: red;
    display: flex;
}

nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav {
    display: flex;
    align-items: stretch;
    height: 100%;
    gap: var(--pad);
    margin: 0 var(--pad);
}

#side-nav {
    grid-row: 2;
    grid-column: 3;
    background-color: rgb(62, 119, 51);
    gap: var(--pad)
}

.main-nav-item:hover,
.side-nav-item:hover {
    background-color: var(--acc);
}

.main-nav-item
.side-nav-item {
    transition:background-color: var(--acc);
}

#content {
    grid-row: 2;
    grid-column: 2;
    background-color: green;
}

#content > article{
    text-align: justify;
    
}

#footer {
    grid-row: 3;
    grid-column: 1 / 4;
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
